.kandyVideo {
    margin-right: 10px;
    float: left;
}

.kandyVideo .video {
    display: block;
}

.kandyVideo .title {
    margin: 5px 0px;
}

/*

=====KANDY VIDEO CALL STYLE=====
*/
.kandyButton {
    overflow: auto;
    padding: 8px;
}

.kandyButton .kandyButtonComponent {
    margin: 15px 0px;
}

.kandyButton .kandyButtonComponent input {
    width: 90px;
    float: left;
    margin-right: 5px;
}

.kandyButton .kandyButtonComponent input[type='text'] {
    width: 250px;
}

.kandyButton .kandyButtonComponent input[type='button'] {
    width: 90px;
}

.kandyButton .kandyButtonComponent .someonesCalling {
    display: none;
}

.kandyButton .kandyButtonComponent .someonesCalling {
    display: none;
}

.kandyButton .kandyVideoButtonOnCall {
    display: none;
}

.kandyButton .kandyVideoButtonCalling {
    display: none;
}

.kandyButton .kandyVideoButtonSomeonesCalling {
    display: none;
}

/*KANDY ADDRESS BOOK */
.kandyAddressBook .kandyAddressContactList {
    background-color: lightslategray;
    color: white;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid black
}

.kandyAddressBook .kandyAddressContactList .myContacts Title {
    text-align: center;
    text-decoration: underline
}

.kandyAddressBook .kandyDirectorySearch {
    margin-top: 20px
}

.kandyAddressBook .kandyDirSearchTitle {
    text-align: center;
    text-decoration: underline
}

.kandyAddressBook .kandyDirSearchResults {
    background-color: lightgray;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid black
}

.kandyAddressBook .userid {
    width: 190px;
    display: inline-block
}

.kandyAddressBook .presence {
    width: 130px;
    display: inline-block
}

.kandyAddressBook .kandyContactItem {
    padding: 5px;
}

.kandyAddressBook .kandySearchItem {
    padding: 5px;
}

/* KANDY CHAT STYLE */
.kandyChat .imUsername {
    display: inline-block;
    width: 200px
}

.kandyChat .imMessageToSend {
    width: 175px
}

.kandyChat .messages {
    border: solid black 1px
}

.kandyChat .imMessage {
    display: inline-block;
    width: 275px
}

.kandyChat .kandyMessages {
    width: 100%;
    min-height: 500px;
}